<div class="container flex justify-between align-items-center lg-display-none">
    <a href="/"><img src="/img/temp_logo.png" class="h-11" /></a>
    <div class="flex color-777 ml-6-c">
        <div class="color-333 border-b-2 border-000" hover="color-333 border-b-2 border-000"><a href="#" class="block plr-7 ptb-7">首页</a></div>
        <div hover="color-333 border-b-2 border-000"><a href="#" class="block plr-7 ptb-7">关于我们</a></div>
        <div hover="color-333 border-b-2 border-000"><a href="#" class="block plr-7 ptb-7">相关案例</a></div>
        <div class="relative" hover="color-333 border-b-2 border-000" hover-to>
            <a href="#" class="block plr-7 ptb-7">新闻动态</a>
            <div class="absolute z-1 top-full w-40 -ml-20 left-half pt-3 hidden" in-add="animate-fadeInDown" out-add="animate-fadeOutUp" in-remove="animate-fadeOutUp" out-remove="animate-fadeInDown">
                <div class="br-4 shadow-md text-center bg-fff font-14 overflow-hidden">
                    <a href="#" class="block ptb-3 border-eee border-b-1" hover="bg-f5f5f5">品牌设计</a>
                    <a href="#" class="block ptb-3 border-eee border-b-1" hover="bg-f5f5f5">印刷设计</a>
                </div>
            </div>
        </div>
        <div hover="color-333 border-b-2 border-000"><a href="#" class="block plr-7 ptb-7">联系我们</a></div>
    </div>
</div>