<div class="container">
    <div class="line-h-2 float-right-c">
        <img src="@Model.Img" class="br-8 col-5 sm-col-12 mb-3 ml-10" />
        @Model.Content
    </div>
</div>

@*
<div class="container">
    <div class="line-h-2 float-right-c">
        <img src="/img/about_01.jpg" class="br-8 col-5 sm-col-12 mb-3 ml-10" />
        中检实验室技术(Sino Laboratory Development，简称“SLD”)是专注实验室投资规划、设计施工、仪器配置、运营管理、实验室认证/认可等实验室整体解决方案的专业服务提供商。20年行业经验，服务网点分布在深圳、北京、武汉、南通、成都、沈阳、西安等各大城市。实验室基地均已通过CMA资质认定/CNAS认可，自有实验室家具厂能提供定制化服务。公司被认定为国家高新技术企业，拥有实验室设计乙级、建筑业企业资质、安全生产许可证、专精特新企业认定、五星级售后服务认证、企业诚信管理体系认证、质量/环境/职业健康安全管理体系认证证书。
        <br />
        <br />
        SLD在国内率先编写了实验室建设领域的书籍——《实验室整体解决方案》(ISBN 978-7-5537-9460-0)，由江苏凤凰科技出版社发行。参编《医学实验室建筑技术规范》，为临床实验室建设提供规范与技术指导。公司搭建的实验室知识与技能培训平台—实验室技术学苑与实验室标准查询平台—【实验室标准】微信小程序，实现了实验室人在专业平台的自我突破及解决了“标准查新难”的问题。
        <br />
        <br />
        SLD作为实验室整体解决方案的开创者，以实验室资质评审、仪器配置、人员培训、安全运营为主线，始终用技术驱动中国实验室建设市场健康成长。

        中检实验室技术(Sino Laboratory Development，简称“SLD”)是专注实验室投资规划、设计施工、仪器配置、运营管理、实验室认证/认可等实验室整体解决方案的专业服务提供商。20年行业经验，服务网点分布在深圳、北京、武汉、南通、成都、沈阳、西安等各大城市。实验室基地均已通过CMA资质认定/CNAS认可，自有实验室家具厂能提供定制化服务。公司被认定为国家高新技术企业，拥有实验室设计乙级、建筑业企业资质、安全生产许可证、专精特新企业认定、五星级售后服务认证、企业诚信管理体系认证、质量/环境/职业健康安全管理体系认证证书。
        <br />
        <br />
        SLD在国内率先编写了实验室建设领域的书籍——《实验室整体解决方案》(ISBN 978-7-5537-9460-0)，由江苏凤凰科技出版社发行。参编《医学实验室建筑技术规范》，为临床实验室建设提供规范与技术指导。公司搭建的实验室知识与技能培训平台—实验室技术学苑与实验室标准查询平台—【实验室标准】微信小程序，实现了实验室人在专业平台的自我突破及解决了“标准查新难”的问题。
        <br />
        <br />
        SLD作为实验室整体解决方案的开创者，以实验室资质评审、仪器配置、人员培训、安全运营为主线，始终用技术驱动中国实验室建设市场健康成长。
    </div>
</div>
*@