USE [master]
GO
/****** Object:  Database [Wind]    Script Date: 08/25/2023 12:48:36 ******/
CREATE DATABASE [Wind] ON  PRIMARY 
( NAME = N'Wind', FILENAME = N'D:\DataBase\Wind.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wind_log', FILENAME = N'D:\DataBase\Wind_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wind].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wind]
GO
/****** Object:  Table [dbo].[Test_Main]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Test_Main](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MainID] [varchar](50) NULL,
	[MainName] [nvarchar](50) NULL,
	[Sys_Type_ID] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[IsShow] [bit] NULL,
	[Img] [varchar](200) NULL,
	[Files] [varchar](200) NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Test_Main] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'MainID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'MainName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属类型（外键）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Sys_Type_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金额' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否显示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'IsShow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Files'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'测试模块主表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test_Main'
GO
/****** Object:  Table [dbo].[Temp_List9]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List9](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List9'
GO
/****** Object:  Table [dbo].[Temp_List8]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List8](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List8'
GO
/****** Object:  Table [dbo].[Temp_List7]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List7](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List7'
GO
/****** Object:  Table [dbo].[Temp_List6]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List6](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List6'
GO
/****** Object:  Table [dbo].[Temp_List5]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List5'
GO
/****** Object:  Table [dbo].[Temp_List4]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List4](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List4'
GO
/****** Object:  Table [dbo].[Temp_List3]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List3'
GO
/****** Object:  Table [dbo].[Temp_List2]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List2'
GO
/****** Object:  Table [dbo].[Temp_List10]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List10](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List10] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List10'
GO
/****** Object:  Table [dbo].[Temp_List1]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_List1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Temp_List1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Temp_List1'
GO
/****** Object:  Table [dbo].[Sys_Type]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
 CONSTRAINT [PK_Sys_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Type', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型表、分类表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Type'
GO
/****** Object:  Table [dbo].[Sys_Sundry]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Sundry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Content] [nvarchar](500) NULL,
	[Temp1] [nvarchar](500) NULL,
	[Temp2] [nvarchar](500) NULL,
	[Temp3] [nvarchar](500) NULL,
	[Temp4] [nvarchar](500) NULL,
	[Temp5] [nvarchar](500) NULL,
	[Temp6] [nvarchar](500) NULL,
	[Temp7] [nvarchar](500) NULL,
	[Temp8] [nvarchar](500) NULL,
	[Temp9] [nvarchar](500) NULL,
	[Temp10] [nvarchar](500) NULL,
 CONSTRAINT [PK_Sys_Sundry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'杂项表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Sundry'
GO
/****** Object:  Table [dbo].[Sys_Admin]    Script Date: 08/25/2023 12:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPwd] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Admin', @level2type=N'COLUMN',@level2name=N'UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码（加密后的字符串）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Admin', @level2type=N'COLUMN',@level2name=N'UserPwd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理员（后台登录）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Admin'
GO
