@using (Html.Section())
{
    <style type="text/css">
        .button_04:hover {
            border-color:#D90000;
        }
    </style>
    
}
<a href="@Model.Url" target="@Model.Target" class="inline-block plr-5 ptb-2 border-1 border-ccc transition-300 button_04">@Model.Name</a>