@using (Html.Section())
{
    <style type="text/css">
        .button_01{
            position:relative;
            transition: all 400ms;
        }
        .button_01_hover{position:absolute;left:0;top:0;z-index:-1; height:100%;width:0;transition:all 400ms;}
        .button_01:hover{color:#fff;}
        .button_01:hover .button_01_hover{width:100%;}
        .button_01-icon::before{transform:translateX(0.5rem);transition: all 300ms;}
        .button_01:hover .button_01-icon::before{transform:none;}
    </style>
}
<a href="@Model.Url" class="border-1 border-white-3 plr-8 ptb-3 font-bold inline-block button_01" target="@Model.Target">@Model.Name<i class="icon-right ml-5 button_01-icon"></i><span class="button_01_hover bg-active"></span></a>
