<div class="container flex justify-center mb-5">
    <div>
        <div class="font-bold font-24 ptb-5 color-333">@Model</div>
        <div class="w-5 border-t-2 border-ccc"></div>
    </div>
</div>

@*
<div class="container flex justify-center mb-5">
    <div>
        <div class="font-bold font-24 ptb-5 color-333">产品中心</div>
        <div class="w-5 border-t-2 border-ccc"></div>
    </div>
</div>
*@