<div class="container">
    <h1 class="font-24 text-center ptb-4">@Model.Name</h1>
    <div class="color-888 text-center">创建时间：@Model.Time&nbsp;&nbsp;&nbsp;&nbsp;来源：@Model.Source</div>
    <div class="mt-5 line-h-1.75">
        @Model.Content
    </div>
</div>