<div class="container">
    <div class="flex flex-wrap ptb-6-c col-3-c md-col-6-c br-8 shadow">
        <div class="text-center hidden" scroll-in-add="animate-fadeInUp">
            <div class="font-60 color-555"><i class="icon-location"></i></div>
            <div class="font-16 color-444">地址 Address</div>
            <div class="font-20 line-h-2">珠海市香洲区南围路51</div>
        </div>
        <div class="text-center hidden" scroll-in-add="animate-fadeInUp animate-delay-200">
            <div class="font-60 color-555"><i class="icon-phone"></i></div>
            <div class="font-16 color-444">电话 TEL</div>
            <div class="font-20 line-h-2">17576052526</div>
        </div>
        <div class="text-center hidden" scroll-in-add="animate-fadeInUp animate-delay-400">
            <div class="font-60 color-555"><i class="icon-mail"></i></div>
            <div class="font-16 color-444">邮箱 Email</div>
            <div class="font-20 line-h-2">727863984@qq.com</div>
        </div>
        <div class="text-center hidden" scroll-in-add="animate-fadeInUp animate-delay-600">
            <div class="font-60 color-555"><i class="icon-qq"></i></div>
            <div class="font-16 color-444">QQ</div>
            <div class="font-20 line-h-2">727863984</div>
        </div>
    </div>
</div>