<div class="container">
    <div class="relative">
        <div class="ptb-3 plr-3 color-fff flex justify-between align-items-center" style="background-color:#d90000;" click-to="$(this).parent().find('[click-to-html]')"><span>@(Model.Value != null && Model.Value.Length > 0 ? ((List<dynamic>)Model.List).Find(s => s.ID.ToString() == Model.Value).Name : Model.List.Count > 0 ? Model.List[0].Name : "")</span><div class="border-eee border-t-3 border-r-3 w-3 h-3 rotate-45 transition-300" click-to-html in-add="rotate-135" out-remove="rotate-135"></div></div>
        <div class="absolute z-1 top-full left-0 bg-eee w-full plr-3-c ptb-3-c hidden" click-to-html in-add="animate-fadeInDown" out-add="animate-fadeOutUp" in-remove="animate-fadeOutUp" out-remove="animate-fadeInDown">
            @foreach (var m in Model.List)
            {
                <a href="@Model.Url@m.ID" target="@Model.Target" class="block" hover="bg-f5f5f5">@m.Name</a>
            }
        </div>
    </div>
</div>

@*
<div class="container">
    <div class="relative">
        <div class="ptb-3 plr-3 color-fff flex justify-between align-items-center" style="background-color:#d90000;" click-to="$(this).parent().find('[click-to-html]')"><span>全部</span><div class="border-eee border-t-3 border-r-3 w-3 h-3 rotate-45 transition-300" click-to-html in-add="rotate-135" out-remove="rotate-135"></div></div>
        <div class="absolute z-1 top-full left-0 bg-eee w-full plr-3-c ptb-3-c hidden" click-to-html in-add="animate-fadeInDown" out-add="animate-fadeOutUp" in-remove="animate-fadeOutUp" out-remove="animate-fadeInDown">
            <a href="#" class="block" hover="bg-f5f5f5">分类一</a>
            <a href="#" class="block" hover="bg-f5f5f5">分类二</a>
            <a href="#" class="block" hover="bg-f5f5f5">分类三</a>
        </div>
    </div>
</div>
*@