<div class="banner-slide h-128 lg-h-96 sm-h-64">
    <ul class="banner-slide-box">
        @foreach (var m in Model)
        {
            <li class="banner-slide-item" style="background:url(@m.Img) no-repeat;background-size: 100% 100%;">
                <a href="@(m.Url==null||m.Url.Length==0?"javascript:void(0)":m.Url)" target="@m.Target" class="block h-full">
                    @Html.Raw(m.Content)
                </a>
            </li>
        }
    </ul>
</div>

@*
<div class="banner-slide h-128 lg-h-96 sm-h-64">
    <ul class="banner-slide-box">
        <li class="banner-slide-item" style="background:url(/img/banner_01.jpg) no-repeat;background-size: 100% 100%;">
            <div class="container color-fff pt-36">
                <div class="hidden font-24" animate="animate-fadeInDown">为企业解决痛点难点·为梦想者创造梦想品牌</div>
                <div class="hidden mt-5 font-16 line-h-1.5 lg-display-none" animate="animate-fadeInDown animate-delay-500">我们将无限的创意和IDEA，融入我们的洞察力，去创造出令人<br />赞叹的作品，呈现在互联网，并不断超越…</div>
            </div>
        </li>
        <li class="banner-slide-item" style="background:url(/img/banner_02.jpg) no-repeat;background-size: 100% 100%;">
            <div class="text-center pt-44">
                <div class="hidden font-24 color-fff" animate="animate-fadeInLeft"><span style="color:#28b7ec;">多屏互动、</span>终端入口全覆盖打造<span style="color:#28b7ec;"> 全渠道 </span>建站需求</div>
                <div class="hidden mt-5 font-24 color-fff" animate="animate-fadeInRight">PC+手机+平板+小程序</div>
            </div>
        </li>
        <li class="banner-slide-item" style="background:url(/img/banner_03.jpg) no-repeat;background-size: 100% 100%;">
            <div class="text-center pt-44">
                <div animate="animate-fadeInDown" class="hidden font-24 color-fff"><span style="color:#28b7ec;">重塑</span>网站定制设计</div>
                <div animate="animate-fadeInDown animate-delay-500" class="hidden mt-5 font-24 color-fff">贴近目标群体，驱动<span style="color:#28b7ec;">品牌价值</span></div>
            </div>
        </li>
    </ul>
</div>
*@